{% extends 'base.html' %}

{% block aa %}active{% endblock %} 

{% block ar %}<span class="sr-only">(current)</span>{% endblock %}

{% block header %}
    <h1 class="h1 text-center">{%block title %}About Me{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="container text-left">
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
                <p>
                    Hi, my name is Anthony. I'm a data analyst that like to dabble in software on the side. Considering the basic password requirements for your average job today, it seemed like a fun and useful project to build a simple app to knock off some of the leg work ever 30 to 90 days. 
                </p>
                <p>
                    It was an enjoyable experience building this, and if there is any feedback, bugs or issues, please don't hesitate to reach out to me on <a class="text-info" target="_blank" rel="noreferrer noopener" href="https://github.com/GongJunior/dw-Web">Github.</a>
                </p>
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
